# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/dash0
dash0-*
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Built binaries
build/

# Tools binaries
.tools/

# Generated release notes
release-notes.md

# Dependency directories
vendor/

# GoReleaser
dist/

# Generated shell completions
completions/

# IDE files
.idea/
.vscode/
*.iml
*.swp
*.swo

# macOS
.DS_Store
